<p id="notice"><%= notice %></p>

<h1>Listing People</h1>

<%= form_tag people_path, :method => 'get', :id => "people_search" do %>
    <%= hidden_field_tag :direction, params[:direction] %>
    <%= hidden_field_tag :sort, params[:sort] %>
    <%= will_paginate @people %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
<% end %>

<table>
  <thead>
  <tr>
    <th><%= sortable "FirstName"%> </th>
    <th><%= sortable "LastName"%></th>
    <th colspan="6"></th>
  </tr>
  </thead>

  <tbody>
  <% @people.each do |person| %>
      <tr>
        <td><%= person.FirstName %></td>
        <td><%= person.LastName %></td>
        <td><%= link_to 'Show', person %></td>
        <td><%= link_to 'Edit', edit_person_path(person) %></td>
        <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate @people %>

<br>

<%= link_to 'New Person', new_person_path %>