<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @person.FirstName %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @person.LastName %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
